.App{
  height: 100vmin;
  width: 100%;
  background-color: rgb(164,186,183);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%; /* Start at left center */
    }
    100% {
        background-position: 100% 50%; /* Move to right center */
    }
}

.App h1{
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 100px;
  color: rgb(8,15,15);
  text-shadow: (5px 5px rgb(255,201,20));
}